<a href="/">Home</a>
    <form action="/loginForm" method="post">
        <h3>Registrarse</h3>
        <label>Email:</label>
        <input type="email" name="username">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit" value="Iniciar sesión">
    </form>