<h1>hola profile</h1>
<a href="/">Home</a>
<br>
<br>
<form action="logout" method="post">
    <input type="submit" value="Cerrar sesión">
</form>

<form action="color" method="post">
    <input type="color" name="color" id="color">
    <input type="submit" value="color">
</form>