<a href="/">Home</a>
    <form action="/signupForm" method="post">
        <h3>Registrarse</h3>
        <label>Nombre de usuario:</label>
        <input type="text" name="name">
        <label>Email:</label>
        <input type="email" name="username">
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit" value="Crear usuario">
    </form>